// colors
$primary-color: #df4244;
$secondary-color: #206363;
$light-color: #fff;
$dark-color: #212121;
$muted-color: rgba(33, 33, 33, 0.75);

// old
$primary-hover: #3ac162;
$accent-color: #444;
$border-color: #eef0ef;
$slight-color: #777;

// fonts
$poppins: "Poppins", sans-serif;
$rubik: "Rubik", sans-serif;
$palanquin: "Palanquin", sans-serif;
