.product-card {
  border-radius: 0.5rem;
  background: #f9f9f9;
  padding: 1rem;
  height: 31.75rem;

  .product-feat {
    border-radius: 0.5rem;
    color: $light-color;
    font-family: $poppins;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.2rem 1rem;

    &.new {
      background: #43d167;
    }

    &.sale {
      background: $primary-color;
    }
  }

  .heart-btn i {
    font-size: 1.375rem;
    color: $primary-color;
  }

  .img-wrapper {
    margin: 0 auto;
    width: 220px;
    height: 15.1875rem;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .product-info {
    p {
      color: #000;
      font-family: $rubik;
      font-size: 1rem;
      font-weight: 400;
    }

    .price-discount {
      p {
        color: $primary-color;
        font-family: $poppins;
        font-size: 1.25rem;
        font-weight: 600;

        span {
          display: inline-block;
          padding-left: 1rem;
          color: rgba(54, 54, 54, 0.75);
          font-family: $poppins;
          font-size: 1rem;
          font-weight: 400;
        }
      }
    }
  }

  .add-to-card-btn {
    width: 100%;
    padding: 0.6rem 0;
    border-radius: 0.5rem;
    border: 1px solid $dark-color;
    color: $dark-color;
    font-size: 1rem;
    font-weight: 500;
    background-color: transparent;
  }
}
