.shoulder-bags {
  .img-wrapper {
    width: 80%;
    height: 80%;
  }

  .pieces {
    max-width: 120px;
    width: 100%;
    height: 60px;
    border-radius: 8px;
    border: 1px solid hsl(0, 0%, 89%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    margin-top: 20px;

    @include breakpoint(450px) {
      max-width: 235px;
    }
  }

  .pieces {
    h5 {
      font-size: 1rem;

      @include breakpoint(450px) {
        font-size: 1.3rem;
      }
    }

    span {
      padding-right: 10px;
      color: rgba(33, 33, 33, 0.9);
      font-size: 0.875rem;
      font-weight: 400;
    }
  }

  .size-color {
    margin-top: 40px;
    margin-bottom: 10px;
  }

  .left {
    .size {
      border-radius: 0.5rem;
      border: 1px solid #c8c8c8;
      width: 4.5rem;
      height: 2.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      color: rgba(33, 33, 33, 0.75);
      font-size: 1rem;
      font-weight: 400;

      &.selected {
        border: 1px solid $primary-color;
      }
    }
  }

  .right-wrapper {
    padding-left: 1.5rem;
    // background-color: red;
    .right {
      .color {
        width: 18px;
        height: 18px;
        border-radius: 50px;
        margin-right: 12px;
      }
      .color:hover {
        border: 2px solid blue;
      }
    }
  }

  .adds {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .add-to-card-btn {
    border-radius: 0.5rem;
    background: $primary-color;
    color: $light-color;
    border: 1px solid $primary-color;
    padding: 0.75rem 1rem;
    transition: all 300ms ease;

    @include breakpoint(450px) {
      padding: 0.75rem 3.8rem;
    }

    &:hover {
      background-color: transparent;
      color: $primary-color;
    }
  }

  .cash-payment-btn {
    border: none;
    background-color: transparent;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid $dark-color;
    transition: all 300ms ease;

    @include breakpoint(450px) {
      padding: 0.75rem 3.8rem;
    }

    &:hover {
      background-color: $slight-color;
    }
  }

  .product-feat {
    background: #df4244 !important;
  }

  // @media (max-width: 1000px) {
  //   .col-5,
  //   .col-7 {
  //     width: 100%;
  //   }
  // }
}
